<html>
  <body class="top-wrapper">
    <% if flash[:notice] %>
      <div class="text-green-600 text-center text-1xl"><%= notice %></div>
    <% end %>
    <main class="container mx-auto mt-10 text-center">
      <h2 class="text-4xl font-bold text-gray-800">
        見て覚える、を<br>新しい形で。
      </h2>
      <br>
      <p class="text-sm text-gray-800 mb-5 text-center">
        ログインしてノートを作成してみましょう。
      </p>
  </body>
</html>