<html>
  <body class="bg-gray-100 text-gray-900">
    <% if flash[:notice] %>
      <p style="color: green"><%= notice %></p>
    <% end %>
    <main class="container mx-auto mt-10 text-center">
      <h2 class="text-4xl font-bold text-gray-800">
        見て覚える、を<br>新しい形で。
      </h2>
      <br>
      <p class="text-sm text-gray-800 mb-5 text-center">
        ログインしてノートを作成してみましょう。
      </p>
  </body>
</html>