    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
    </style>
</head>
<body class="bg-gray-100 text-gray-900 font-['Oswald']">
  <main class="container mx-auto mt-10 text-center">
        <h2 class="text-4xl font-bold text-gray-800">見て覚える、を<br>新しい形で。</h2>
        <br>
        <p class="text-sm text-gray-800 mb-5 text-center">口では説明しづらい作業手順やコツなどをメモすることに活用できるサービスです。
          <br>
          早速ノートを作成してみましょう。
        </p>
  </main>
</body>