<div class="flex items-center justify-center p-5 md:m-12">
  <div class="col-md-10 offset-md-1">
    <h1 class="float-left text-2xl mb-5">ユーザー情報</h1>
    <table class="table">
      <tr>
        <td><%= image_tag "default_avatar.jpg", class: 'rounded-circle', size: '70x70' %></td>
      </tr>
      <tr>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td><%= current_user.email %></td>
      </tr>
    </table>
    <div class="mt-8 justify-end">
        <%= link_to "プロフィールを編集", edit_profile_path, class: "bg-blue-500 hover:bg-blue-600 text-white text-center font-semibold py-2 px-4 rounded shadow" %>
    </div>
  </div>
</div>