<p style="color: green"><%= notice %></p>

<h1>ノート一覧</h1>
<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @notes.present? %>
          <%= render @notes %>
        <% else %>
          <div class="mb-3">ノートがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
