<% if resource.errors.any? || flash[:alert] || flash[:error] %>
  <div id="error_explanation" class="error-message" data-turbo-cache="false">
    <% if resource.errors.any? %>
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <% if flash[:alert] || flash[:error] %>
      <div class="alert alert-danger">
        <ul>
          <% [flash[:alert], flash[:error]].compact.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
