@import "../../../node_modules/daisyui/daisyui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.error-message {
  color: red;
  font-weight: bold;
}

/* レスポンシブ対応 */
p{
  color: #404040;
}

@media screen and (max-width: 768px) {
  p{
      background-color: white;
        color:#404040;
    }
}

@media screen and (max-width: 480px) {
  p{
      background-color: white;
        color: #404040;
    }
}
/* ここまでレスポンシブ対応 */
